.bottom__block-logo {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;
    background-color: #fff;
    max-width: 1104px;
    padding: 16px 16px;
    margin: 0 auto;
}