@import url(./__block/getmoney__block.css);
@import url(./__header/getmoney__header.css);
@import url(./__icon/getmoney__icon.css);
@import url(./__item/getmoney__item.css);
@import url(./__items/getmoney__items.css);
@import url(./__subheader/getmoney__subheader.css);
@import url(./__text-wrapper/getmoney__text-wrapper.css);
@import url(./_icon/getmoney_icon_one.css);
@import url(./_icon/getmoney_icon_two.css);
@import url(./_icon/getmoney_icon_three.css);

.getmoney {
    background-color: #F3F3F3;
    padding: 64px 20px;
    transition: .3s ease;
}


@media screen and (max-width: 1200px) {
    .getmoney__item:not(:last-child):after {
        width: calc(100vw/7);
    }
}

@media screen and (max-width: 1024px) {


    .getmoney__block {
        max-width: 975px;
                
     }

     .getmoney__items {

        margin-top: 24px;
        padding: 40px 40px 40px;
        
    } 

    .getmoney__header {
        font-size: 16px; 
 
    }
    
    .getmoney__subheader {
        font-size: 14px;
    }
}

@media screen and (max-width: 850px) {
    
    .getmoney {
        background-color: #F3F3F3;
        padding: 36px 16px;
    }

    .getmoney__block {
        max-width: 736px;
        height: 219px;
     }

     .getmoney__items {
        margin-top: 24px;
        padding: 40px 32px 40px;
        box-sizing: border-box;
     } 

     .getmoney__item {
        min-width: 173px;
    }

     .getmoney__header {
        font-size: 15px; 
    }
    
    .getmoney__subheader {
        font-size: 13px;
    }

    .getmoney__icon {
        width: 50px;
        height: 50px;
        font-size: 21px;        
    }
    .getmoney__item:not(:last-child):after {
        left: 83%;
        width: 110px;
    }

    .getmoney_icon_one {
        right: 52px;
        top: -4px;
        width: 54px;
        height: 54px;
    }

    .getmoney_icon_two {
        right: 72px;
        top: -4px;
        width: 54px;
        height: 54px;
    }

    .getmoney_icon_three {
        right: 56px;
        top: -4px;
        width: 59px;
        height: 59px;
    }

}


@media screen and (max-width: 740px) {
    
    .getmoney__block {
        max-width: 400px;
        height: 288px;
    }
    
    .getmoney__items {
        height: 100%;
        flex-direction: column;
        align-items: flex-start;        
        padding: 36px 0 36px 16px;
     
    }

    .getmoney__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .getmoney__header {
        margin: 0;;
    }

    .getmoney__subheader {
        margin: 5px 0 0 0;
        padding: 0;
    }

    .getmoney__text-wrapper {
        margin-left: 24px;
    }

    .getmoney_icon_one {
        left: 22px;
    }

    .getmoney_icon_two {
        left: 0;

    }

    .getmoney_icon_three {
        left: -4px;
    }

    .getmoney__item:not(:last-child):after {
        width: 1px;
        height: 12px;
        top: 60px;
        left: 25px;
    }
}


@media screen and (max-width: 700px) {
    
    .getmoney__block {
        max-width: 388px;  
    }

}

@media screen and (max-width: 320px) {
    
    .getmoney__header {
        font-size: 13px;  
    }

    .getmoney__items {
         
        padding: 36px 25px 36px 16px;
     
    }

    .getmoney_icon_one {
        top: -3px;
    }

}


