@import url(./__block-logo/bottom__block-logo.css);
@import url(./__block/bottom__block.css);
@import url(./_line/bottom_line.css);

.bottom {
   width: 100%;
}


@media screen and (max-width: 850px) {
   .bottom__block {
      height: 36px;
   }
   .bottom__block-logo {
      height: 48px;
      padding: 0 0 0 16px;
   }

}


