@import url(../vendor/normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
} 


.main {
    /* padding: 0 15px 0; */
}

.top {
    max-width: 1130px;
    padding: 10px 15px;
 
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 308px;
    background-color: #EDEDEF;
    margin: 0 auto;
    
}

.header__wrapper {
    max-width: 1130px;
    padding: 0px 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.header__text {
   
    align-self: flex-start;
    margin-top: 52px;
}
.header__title {
    margin: 0;
    font-weight: 800;
    font-size: 44px;
    line-height: 1.23;
    color: #333333;
    position: relative;
}

.header__subtitle {
    font-weight: 500;
    font-size: 17px;
    line-height: 1.65;
    color: #333333;
    max-width: 629px;
}

.header__image {
    display: block;
    /* width: 444px; */
    height: 308px;
    object-fit: contain;
  
}

.greenmile {
 
    position: relative;
    z-index: 1;
}

.greenmile::after {
    content: "";
    position: absolute;
    display: block;
    transform: translate(-3px, -4px);
    width: 103%; 
    height: 7px; 
    background-color:  #56FC21;
    border-radius: 7px;
    z-index: -1;
}

.choose {
    max-width: 1104px;
    padding: 64px 0;
    margin: 0 auto;
  }

.choose__cards {
    
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 528px));
    grid-gap: 18px 48px;
    justify-items: center;
    margin-top: 48px;
    justify-content: center;
    
}
.section__title {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.23;
    color: #333;
    position: relative;
    display: flex;
    justify-content: center;
}
.choose__item {

    width: 100%;
    height: 188px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E4F9DD;
    border-radius: 4px;
}
.choose__card-left {
    align-self: flex-start;
    padding: 27px 0 24px 24px;
}

.choose__header {
    margin: 0;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #333;
}

.choose__subheader {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.24;
    color: #979797;
    margin: 9px 0 0 0;
}

.choose__card-right {
    width: 240px;
    height: 188px;
    padding-left: 15px;
}

.choose__button {
    margin-top: 44px;
    width: 168px;
    height: 44px;
    background: #47D31A;
    border-radius: 4px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
}

.getmoney {
    background-color: #F3F3F3;
    padding: 64px 0;
}

.getmoney__block {

    max-width: 1104px;
    margin: 0 auto;
}

.getmoney__items {
    background-color: #fff;;
  
    margin: 0 auto;
    margin-top: 48px;
    padding: 48px 56px 64px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    border-radius: 20px;
 
}

.getmoney__item {
    position: relative;
    min-width: 228px;
  
   
}
.getmoney__item:not(:last-child):after {
    position: absolute;
    content: "";
    left: 100%;
    top: 23%;
    width: 200px;
    height: 2px;
    background: #E0E0E0 no-repeat;
}


.getmoney__icon {
    width: 70px;
    height: 70px;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.2;
    background-color: #F3F3F3;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}


@keyframes dash-one {
    from {
      stroke-dashoffset: 270;
    }
    to {
        stroke-dashoffset: 540;
      }
  }

  @keyframes dash-two {
    from {
      stroke-dashoffset: 270;
    }
    to {
        stroke-dashoffset: 540;
      }
  }


.getmoney_icon_one {
    position: absolute;
    right: 45px;
    top: -6px;
    z-index: 10;
    width: 75px;
    height: 75px;
    stroke-dasharray: 275;
    animation: dash-one 1.5s ease forwards;
    stroke-width: 5px;
    stroke: #47D31A;
    
    stroke-linecap: round;
}


.getmoney_icon_two {
        position: absolute;
        right: 74px;
        top: -6px;
        width: 75px;
        height: 75px;
        stroke-dasharray: 270;
        animation: dash-two 2s 1.2s ease backwards;
        stroke-width: 5px;
        stroke: #47D31A;
       
        stroke-linecap: round;
}

@keyframes dash-three {
    from {
      stroke-dashoffset: 350;
    }
    to {
        stroke-dashoffset: 700;
      }
  }

.getmoney_icon_three {
    position: absolute;
    right: 72px;
    top: -5px;
    width: 82px;
    height: 82px;
    stroke-dasharray: 350;
    animation: dash-three 2.2s 2.5s ease backwards;
    stroke-width: 5px;
    stroke: #47D31A;
   
    stroke-linecap: round;
}


.getmoney__header {
    font-weight: bold;
    font-size: 17px;
    line-height: 1.24;
}

.getmoney__subheader {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    color: #979797;
}


@media screen and (max-width: 1200px) {
    .getmoney__item:not(:last-child):after {
     
        width: calc(100vw/7);
       
        
    }

}