@import url(../vendor/normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');

html {
    font-family: 'Montserrat', "Verdana", sans-serif;
} 


.page {
    
    transition: .3s ease;
}

.top {
    max-width: 1130px;
    padding: 10px 15px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 308px;
    background-color: #EDEDEF;
    margin: 0 auto;
    
}

.header__wrapper {
    max-width: 1130px;
    padding: 0px 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.header__text {
    align-self: flex-start;
    margin-top: 52px;
}
.header__title {
    margin: 0;
    font-weight: 800;
    font-size: 44px;
    line-height: 1.23;
    color: #333333;
    position: relative;
}

.header__subtitle {
    font-weight: 500;
    font-size: 17px;
    line-height: 1.65;
    color: #333333;
    max-width: 629px;
}

.header__image {
    max-height: 308px;
    display: block;
    object-fit: cover;
}


.greenmile {
    
    position: relative;
    z-index: 1;
}

.greenmile::after {
    content: "";
    position: absolute;
    display: block;
    transform: translate(-3px, -4px);
    width: 103%; 
    height: 7px; 
    background-color:  #56FC21;
    border-radius: 7px;
    z-index: -1;
    
}

.choose {
    max-width: 1104px;
    padding: 64px 20px;
    margin: 0 auto;
  }

.choose__cards {
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 528px));
    grid-gap: 18px 48px;
    justify-items: center;
    margin-top: 48px;
    justify-content: center;
    transition: .3s ease;
}

.section__title {
    margin: 0;
    
    font-weight: 800;
    font-size: 26px;
    line-height: 1.23;
    color: #333;
    position: relative;
    display: flex;
    justify-content: center;
  
    
    
}

.choose__item {

    width: 100%;
    height: 188px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E4F9DD;
    border-radius: 4px;
    transition: transform 0.3s ease 0s, box-shadow 0.3s 0s;
    

}

.choose__item:hover {
    box-shadow: 0 6px 16px 0 rgba(0,0,0,0.16);
    transform: translateY(-2px);
    /* background-color: #47D31A; */
    
}


.choose__card-left {
    align-self: flex-start;
    padding: 27px 0 24px 24px;
}

.choose__header {
    margin: 0;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #333;
    transition: .2s ease;
}

.choose__subheader {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.24;
    color: #979797;
    margin: 9px 0 0 0;
    transition: .2s ease;
}

.choose__card-right {
    
    height: 188px;
    transition: .2s ease;
    /* padding-left: 15px; */
}

.choose__button {
    margin-top: 44px;
    width: 168px;
    height: 44px;
    background: #47D31A;
    border-radius: 4px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    transition: .3s ease;
}

.getmoney {
    background-color: #F3F3F3;
    padding: 64px 20px;
}

.getmoney__block {
    max-width: 1104px;
    margin: 0 auto;
}

.getmoney__items {
    background-color: #fff;;
    margin: 0 auto;
    margin-top: 48px;
    padding: 48px 56px 64px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    border-radius: 20px;
 
}

.getmoney__item {
    position: relative;
    min-width: 228px;
    
}

.getmoney__item:not(:last-child):after {
    position: absolute;
    content: "";
    left: 92%;
    top: 23%;
    width: 200px;
    height: 2px;
    background: #E0E0E0 no-repeat;
}


.getmoney__icon {
    width: 70px;
    height: 70px;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.2;
    background-color: #F3F3F3;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}


@keyframes dash-one {
    from {
      stroke-dashoffset: 270;
    }
    to {
        stroke-dashoffset: 540;
      }
  }

  @keyframes dash-two {
    from {
      stroke-dashoffset: 270;
    }
    to {
        stroke-dashoffset: 540;
      }
  }

  @keyframes dash-three {
    from {
      stroke-dashoffset: 350;
    }
    to {
        stroke-dashoffset: 700;
      }
  }

.getmoney_icon_one {
    position: absolute;
    right: 45px;
    top: -6px;
    z-index: 10;
    width: 75px;
    height: 75px;
    stroke-dasharray: 275;
    animation: dash-one 1.5s ease forwards;
    stroke-width: 5px;
    stroke: #47D31A;
    
    stroke-linecap: round;
}


.getmoney_icon_two {
        position: absolute;
        right: 74px;
        top: -6px;
        width: 75px;
        height: 75px;
        stroke-dasharray: 270;
        animation: dash-two 2s 1.2s ease backwards;
        stroke-width: 5px;
        stroke: #47D31A;
        stroke-linecap: round;
}



.getmoney_icon_three {
    position: absolute;
    right: 72px;
    top: -5px;
    width: 82px;
    height: 82px;
    stroke-dasharray: 350;
    animation: dash-three 2.2s 2.5s ease backwards;
    stroke-width: 5px;
    stroke: #47D31A;
    stroke-linecap: round;
}


.getmoney__header {
    font-weight: bold;
    font-size: 17px; 
    line-height: 1.24;
}

.getmoney__subheader {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    color: #979797;
}





.slider {
    background-color: #F3F3F3;
    padding: 0 20px 64px;
 
}

.slider__items {

    max-width: 1104px;
    margin: 0 auto;
    margin-top: 48px;
    padding: 0;

    
}

.slider__item {
    display: flex;
    justify-content: space-between;
    max-width: 336px;
    height: 155px;
    background-color: #fff;
    
    border-radius: 8px;
   
}

.slider__facts {
    align-self: flex-end;
    padding: 0 0 29px 24px;
}

.slider__amount {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    color: #47D31A;

}

.slider__sub {
    font-weight: 500;
    font-size: 15px;
    color: #979797;
    line-height: 1.3;
    margin: 3px 0 0 ;
}

.slider__icon {
    width: 48px;
    height: 32px;
    padding: 20px 24px 0 0;
}

.partners {
    background-color: #F3F3F3;
    padding: 64px 0 64px;
}

.parners__slider {
    max-width: 1104px;
    margin: 0 auto;
    margin-top: 48px;
    padding: 0;
   
}

.partners__item {
    margin: 0;
    width: 144px;
    height: 155px;
    background-color: #fff;
    list-style-type: none;
    text-align: center;
    border-radius: 8px;
  
}



.partners__icon {
    margin-top: 24px;
    width: 48px;
    height: 48px;
}

.partners__text {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #979797;
    max-width: 88px;
    margin: 0 auto;
    margin-top: 20px;
}


.bottom {
    width: 100%;
}
.bottom__block {
    height: 64px;
    background-color: #fff;
}
.bottom__block-logo {
    margin-top: 10px;
    height: 60px;
    background-color: #fff;
    max-width: 1104px;
    margin: 0 auto;
    padding-top: 16px;
}

.bottom_line {
    border: 1px solid #F3F3F3;
}

.footer {
   
    background-color: #F3F3F3;
    padding: 20px 0 20px;
    width: 100%;
    
}

.footer__wrapper {
    max-width: 1104px;
    margin: 0 auto;

}

.footer__info {
    font-size: 13px;
    line-height: 1.7;
    color: #979797;
    
   
   
}

.footer__items {
    
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    font-size: 11px;
    line-height: 1.4;
    color: #333333;
    margin-top: 25px;
}

.footer__item {
    padding: 0 14px 0;
    border-right: 1px solid #888;
}

.footer__item:first-of-type {
    padding-left: 0;
}

.footer__item:last-of-type {
    border: none;
    padding-right: 0;
}


@media screen and (max-width: 1200px) {
    .getmoney__item:not(:last-child):after {
        width: calc(100vw/7);
    }

    .choose__cards {

        grid-template-columns: repeat(2, minmax(465px, 1fr));
       }

}

@media screen and (max-width: 1024px) {


    .getmoney__block {
        max-width: 975px;
                
     }

     .getmoney__items {

        margin-top: 24px;
        padding: 40px 40px 40px;
        
    } 

    .getmoney__header {
        font-size: 16px; 
 
    }
    
    .getmoney__subheader {
        font-size: 14px;
    }

    .choose__cards {

        grid-gap: 16px 16px;

    }

    .slider__item {

        max-width: 280px;
    }

@media screen and (max-width: 768px) {
    
    .header {
        height: 213px;
    }
    .header__text {
        margin-top: 32px;
    }
    .header__title {
        font-size: 34px;
    }

    .header__subtitle {
        font-size: 13px;
        
    }
    .header__image {
        height: 211px;
        
    }
    .partners__item {
        width: 160px;
        height: 152px;
    }

    .slider {
        padding: 0 16px 36px;
     
    }

    .slider__item {
        width: 235px;
    }

    .slider__facts {

        padding: 0 0 18px 20px;
    }

    .slider__amount {

        font-size: 30px;

    }
    
    .slider__sub {
        margin: 4px 0 0 ;
    }

    .slider__icon {
        width: 36px;
        height: 24px;
        padding: 20px 20px 0 0;
    }

    .section__title {
        font-size: 20px;
        
    }

    .section__title_slider {
        line-height: 1.4;
        max-width: 339px;
        display: block;
        text-align: center;
        margin: 0 auto;
        
    }

    .greenmile_slider::after {
        transform: translate(16px, -4px);
        width: 90%; 
        height: 7px; 
        position: relative;
        z-index: 2;
    }

 
    .choose__cards {
        grid-template-columns: repeat(2, minmax(360px, 1fr));
        grid-gap: 16px 16px;
    }
    
    .choose__item {
        height: 144px;
    }
   
    .choose__card-left {
        padding: 20px 0 16px 16px;
    }

   
    .choose__header {
        font-size: 15px;
    }
    
    .choose__subheader {
        font-size: 12px;
        
    }
     
    .choose__card-right {
       height: 144px;
    }
     
    .choose__button {
        margin-top: 35px;
        width: 135px;
        height: 32px;
        font-size: 13px;
        
    }

    .getmoney__block {
        max-width: 736px;
        height: 219px;
     }

     .getmoney__items {

        margin-top: 24px;
        padding: 40px 32px 40px;
        box-sizing: border-box;
     } 

     .getmoney__item {
        min-width: 173px;
    }

     .getmoney__header {
   
        font-size: 15px; 
 
    }
    
    .getmoney__subheader {
        font-size: 13px;
    }

    .getmoney__icon {
        width: 50px;
        height: 50px;
        font-size: 21px;        
    }
    .getmoney__item:not(:last-child):after {
        left: 83%;
        width: 110px;
    }

    .getmoney_icon_one {
        right: 52px;
        top: -4px;
        width: 54px;
        height: 54px;
    }

    .getmoney_icon_two {
        right: 72px;
        top: -4px;
        width: 54px;
        height: 54px;
    }

    .getmoney_icon_three {
        right: 56px;
        top: -4px;
        width: 59px;
        height: 59px;
    }

}

@media screen and (max-width: 740px) {
    
    .getmoney__block {
        max-width: 400px;
        height: 288px;
    }
    
    .getmoney__items {
        height: 100%;
        flex-direction: column;
        align-items: flex-start;        
        padding: 36px 0 36px 16px;
     
    }

    .getmoney__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .getmoney__header {
        margin: 0;;
    }

    .getmoney__subheader {
        margin: 5px 0 0 0;
        padding: 0;
    }

    .getmoney__text-wrapper {
        margin-left: 24px;
    }

    .getmoney_icon_one {
        left: 23px;
    }

    .getmoney_icon_two {
        left: 0;

    }

    .getmoney_icon_three {
        left: -4px;
    }

    .getmoney__item:not(:last-child):after {
        width: 1px;
        height: 12px;
        top: 60px;
        left: 25px;
    }
}


@media screen and (max-width: 576px) {
    
    .header__text {
        margin-top: 24px;
    }

    .header__title {
        font-size: 30px;
    }
    
    .choose__cards {
        grid-template-columns: 382px;
        grid-gap: 16px;
    }
    
    .choose__item {
        max-width: 382px;
        height: 144px;
    }
   
    .getmoney__block {
        max-width: 388px;
        
    }
    
    .slider__item {
        width: 260px;
    }

     .slider__amount {
        font-size: 28px;
    }
    
    .slider__icon {
        width: 36px;
        height: 24px;
        padding: 20px 20px 0 0;
    }

}

@media screen and (max-width: 414px) {
    .header__title {
        font-size: 24px;
    } 

}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 360px) {

    .slider {
        padding: 0 14px 36px;
    }
    .section__title_slider {
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }

    .greenmile_slider::after {
        transform: translate(13px, -4px);
        width: 90%; 
    }

}

@media screen and (max-width: 320px) {
    .header__image {
        display: none;
    }

    .greenmile_slider::after {
        width: 101%; 
        transform: translate(-2px, -4px);
    }

}

}