@import url(../vendor/normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
} 



.top {
    max-width: 1130px;
    padding: 10px 15px;
 
    margin: 0 auto;
}

.header {
    width: 100%;
    max-height: 308px;
    background-color: #EDEDEF;
    
}

.header__wrapper {
    max-width: 1130px;
    padding: 0px 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.header__text {
   
    align-self: flex-start;
    margin-top: 52px;
}
.header__title {
    margin: 0;
    font-weight: 800;
    font-size: 44px;
    line-height: 1.23;
    color: #333333;
  
}

.header__subtitle {
    font-weight: 500;
    font-size: 17px;
    line-height: 1.65;
    color: #333333;
    max-width: 629px;
}

.header__image {
    display: block;
    width: 444px;
    height: 308px;
    object-fit: contain;
  
}

.greenmile {
    position: relative;
}

.greenmile::after {
    content: "";
    position: absolute;
    display: block;
    transform: translate(-3px, 0.05em);
    width: 103%; 
    height: 7px; 
    background-color:  #56FC21;
    border-radius: 7px;
}

.choose {
    max-width: 1130px;
    padding: 64px 0;
    margin: 0 auto;
  }

.choose__cards {
    
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 18px 48px;
    justify-items: center;
    
    margin-top: 48px;
    
}
.choose__title {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.23;
    color: #333;
    display: block;
    margin: 0 auto;
    max-width: 25%;
    border: 1px solid green;

}
.choose__item {

    width: 528px;
    height: 188px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E4F9DD;
    border-radius: 4px;
}
.choose__card-left {
    align-self: flex-start;
    padding: 27px 0 24px 24px;
}

.choose__header {
    margin: 0;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #333;
}

.choose__subheader {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.24;
    color: #979797;
    margin: 9px 0 0 0;
}

.choose__card-right {
    width: 240px;
    height: 188px;
}

.choose__button {
    margin-top: 44px;
    width: 168px;
    height: 44px;
    background: #47D31A;
    border-radius: 4px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
}